@import "../../styles/mixins";

.gallery {
  display: flex;
  align-items: center;
  overflow-y: scroll;

  img {
    width: 100%;
    max-width: 25%;
    height: auto;
    min-width: 250px;
  }
}

.contactsSection {
  position: relative;
  overflow-y: hidden;
}

.contactsHeading {
  position: absolute;
  color: #ffffff;
  // top: 68px;
  top: 7.5vh;
  // left: 177px;
  left: 12.2916vw;
  line-height: 60px;

  $min_width: 320px;
  $max_width: 1440px;
  $min_font: 30px;
  $max_font: 45px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  @include for-tablet-landscape-only {
    // max-width: 17.4305vw;
    line-height: 50px;
  }

  @include for-tablet-portait-only {
    // max-width: 19vw;
    line-height: 40px;
  }

  @include for-phone-only {
    // max-width: 25vw;
    left: 26px;
    top: 35px;
    line-height: 39px;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // padding: 0 182px 0 0;
  // padding: 0 12.638vw 0 0;
  max-width: 1093px;
  margin: 0 auto;
  padding: 61px 0 83px;

  @include for-tablet-landscape-only {
    padding: 61px 2.5vw 83px;
    justify-content: space-around;
  }

  @include for-tablet-portait-only {
    padding: 61px 2.5vw 83px;
    justify-content: space-around;
  }

  @include for-phone-only {
    flex-direction: column;
    padding: 24px 24px 102px 24px;
  }
}

.linkContainer {
  display: flex;
  flex-wrap: wrap;

  @include for-tablet-landscape-only {
    max-width: 300px;
    padding-top: 4px;
  }

  @include for-tablet-portait-only {
    max-width: 215px;
    padding-top: 4px;
  }

  @include for-phone-only {
    justify-content: flex-start;
    
  }
}

.footerLink {
  margin: 0 10px;

  &:first-child {
    margin-left: 0;
    
  }

  &:last-child {
    margin-right: 0;
  }

  @include for-tablet-landscape-only {
    margin: 0 2vw;
    margin-bottom: 16px;

    &:nth-child(3) {
      flex-basis: 100%;
      margin: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }

  @include for-tablet-portait-only {
    margin: 0 2vw;
    margin-bottom: 16px;

    &:nth-child(3) {
      flex-basis: 100%;
      margin: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      flex-basis: 100%;
      margin: 0;
    }
  }

  @include for-phone-only {
    margin: 0;

    &:first-child {
      margin-right: 10px;
    }

    &:nth-child(3) {
      flex-basis: 100%;
    }

    &:last-child {
      flex-basis: 100%;
    }
  }
}

.postScriptum {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: #050505;
  max-width: 480px;

  @include for-tablet-portait-only {
    max-width: 300px;
  }

  @include for-phone-only {
    margin-bottom: 34px;
  }
}
