@import "../../styles/mixins";

.base {
  font-family: "BentonSans";
  font-weight: 500;
  line-height: 20px;
}

.name {
  composes: base;
  font-size: 21px;

  $min_width: 320px;
  $max_width: 1440px;
  $min_font: 16px;
  $max_font: 21px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  // @include for-tablet-landscape-only {
  //   line-height: 17px;
  //   font-size: 17px;
  // }

  // @include for-tablet-portait-only {
  //   line-height: 20px;
  //   font-size: 15px;
  // }

  // @include for-phone-only {
  //   line-height: 16px;
  //   font-size: 12px;
  // }
}

.sectionTitle {
  composes: base;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;

  @include for-tablet-portait-only {
    font-size: 16px;
    line-height: 25px;
  }

  @include for-phone-only {
    font-size: 16px;
    line-height: 25px;
  }
}
