@import "../../styles/mixins";

.block {
  max-width: 255px;
  width: 255px;
  height: 244px;
  background-color: #f8f8f8;
  padding: 26px 28px;
  box-sizing: border-box;

  @include for-tablet-landscape-only {
    max-width: 200px;
    width: 200px;
    height: 191px;
  }

  @include for-tablet-portait-only {
    max-width: 200px;
    width: 200px;
    height: 191px;
    margin: 0 20px;

    &:nth-child(-n + 2) {
      margin-bottom: 20px;
    }
  }

  @include for-phone-only {
    width: 264px;
    height: 160px;
    padding: 24px 25px;
    margin-bottom: 12px;
  }
}

.base {
  font-family: "BentonSans";
}

.company {
  composes: base;
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 25px 0;

  @include for-tablet-landscape-only {
    font-size: 20px;
  }

  @include for-tablet-portait-only {
    font-size: 18px;
  }

  @include for-phone-only {
    margin: 0 0 32px 0;
  }
}

.position {
  composes: base;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 6px 0;

  @include for-tablet-landscape-only {
    font-size: 16px;
  }

  @include for-tablet-portait-only {
    font-size: 14px;
  }

  @include for-phone-only {
    font-size: 18px;
    margin: 0 0 8px 0;
  }
}

.timeline {
  composes: base;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  margin: 0;
  color: #878787;

  @include for-tablet-landscape-only {
    font-size: 14px;
  }

  @include for-tablet-portait-only {
    font-size: 12px;
  }

    @include for-phone-only {
      font-size: 15px;
      line-height: 24px;
    }
}
