@import "../../styles/mixins";

.base {
  font-family: "BentonSans";
  font-weight: 500;
}

.heading {
  composes: base;
  line-height: 60px;
  font-size: 45px;

  $min_width: 320px;
  $max_width: 1440px;
  $min_font: 18px;
  $max_font: 45px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  @include for-tablet-landscape-only {
    // font-size: 35px;
    line-height: 50px;
  }

  @include for-tablet-portait-only {
    // font-size: 25px;
    line-height: 40px;
  }

  @include for-phone-only {
    // font-size: 16px;
    line-height: 32px;
  }
}
