@import "../../styles/mixins";

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  overflow-y: scroll;
  max-width: 1120px;
  margin: 0 auto;

  z-index: 3;

  &:focus {
    outline: none;
  }

  @include for-phone-only {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
}

.modalHeader {
  // background: url("../../../static/assets/images/ios_bar.png") top center
  //   no-repeat;
  // background-size: 100% 2.4vh;
  // background-position-x: left;
  background-color: #525252;
  border-radius: 5px 5px 0 0;
  padding: 142px 0 133px 125px;
  position: relative;

  @include for-tablet-landscape-only {
    padding: 9.861vw 0 9.2361vw 8.6805vw;
    background-size: auto 2.4vh;
  }

  @include for-tablet-portait-only {
    padding: 9.861vw 0 9.2361vw 8.6805vw;
    background-size: auto 2.4vh;
  }

  @include for-phone-only {
    padding: 9.861vw 0 9.2361vw 8.6805vw;
    background-size: auto 2.4vh;
  }
}

.windowHeader {
  // position: fixed;
  height: 16px;
  // width: 100%;
  background: linear-gradient(180deg, #edeced 0%, #d2d1d2 100%);
  box-shadow: inset 0 0.5px 0.5px 0 rgba(255, 255, 255, 0.5),
    inset 0 -0.5px 0 0 #b7b4b7, inset 0 -1px 0 0 rgba(183, 180, 183, 0.3);
  position: relative;
  position: fixed;
  z-index: 1;
  left: 40px;
  right: 40px;
  max-width: 1120px;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;

  @include for-phone-only {
    left: 10px;
    right: 10px;
  }
}

.windowButton {
  height: 10px;
  width: 10px;
  border: 0.5px solid #e24640;
  background-color: #ff6157;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 6px;
  padding: 0;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   background-color: red;
  // }
  &:first-child {
    &:hover {
      &:before,
      &:after {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        height: 6px;
        width: 1px;
        background-color: #ab100e;
        top: 50%;
        left: 50%;
      }

      &:before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }

      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }

  &:hover {
  }

  &:nth-child(2) {
    background-color: #979797;
    border: 0.5px solid #808080;
    left: 22px;
  }

  &:last-child {
    background-color: #797979;
    border: 0.5px solid #616161;
    left: 38px;
  }
}

.modalBody {
  padding: 69px 200px 128px 126px;

  @include for-tablet-landscape-only {
    padding: 4.7916vw 8.75vw 8.8vw 8.75vw;
  }

  @include for-tablet-portait-only {
    padding: 4.7916vw 8.75vw 8.8vw 8.75vw;
  }

  @include for-phone-only {
    padding: 4.7916vw 8.75vw 8.8vw 8.75vw;
  }
}

.modalHeading {
  font-family: "BentonSans";
  font-weight: 400;
  // font-size: 35px;
  color: #ffffff;
  @include letter-spacing(30);
  line-height: 45px;
  max-width: 360px;
  margin: 0 0 45px 0;

  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 20px;
  $max_font: 35px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  @include for-tablet-landscape-only {
    line-height: 35px;
    margin: 0 0 3.125vw 0;
  }

  @include for-tablet-portait-only {
    line-height: 30px;
    margin: 0 0 3.125vw 0;
  }

  @include for-phone-only {
    line-height: 25px;
    margin: 0 0 3.125vw 0;
  }
}

.modalSubheading {
  font-family: "BentonSans";
  font-weight: 400;
  color: #ffffff;
  @include letter-spacing(30);
  line-height: 24px;
  max-width: 360px;

  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 16px;
  $max_font: 22px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  @include for-tablet-landscape-only {
    line-height: 22px;
  }

  @include for-tablet-portait-only {
    line-height: 20px;
  }

  @include for-phone-only {
    line-height: 20px;
  }
}

.modalPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0 40px 0;
  background-color: #f2f2f2;

  @include for-tablet-portait-only {
    padding: 30px 0 32px 0;
  }

  @include for-phone-only {
    padding: 20px 0 22px 0;
  }
}

.modalInput {
  height: 60px;
  font-family: "BentonSans";
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  padding-left: 30px;
  border: 0;
  line-height: 20px;
  position: relative;
  width: 100%;

  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 12px;
  $max_font: 18px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  &::placeholder {
    color: #bcbcbc;
    line-height: 18px;
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 12px;
    $max_font: 18px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);
  }

  &:focus {
    outline: 0;
  }

  @include for-tablet-portait-only {
    height: 50px;
  }

  @include for-phone-only {
    height: 40px;
  }
}

.modalForm {
  width: 312px;
  box-sizing: border-box;
  border: 1px solid #000000;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;

  @include for-tablet-portait-only {
    width: 265px;
  }

  @include for-phone-only {
    width: 220px;
  }
}

.modalButton {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: transparent;
  position: absolute;
  right: 31px;

  @include for-tablet-portait-only {
    padding: 6px;
  }

  @include for-phone-only {
    padding: 5px;
    right: 25px;
  }
}

.modalLock {
  width: 22px;
  margin-right: 19px;

  @include for-tablet-portait-only {
    margin-right: 12px;
  }

  @include for-phone-only {
    margin-right: 8px;
    width: 18px;
  }
}

.modalBodyText {
}

.modalBodyHeading {
  font-family: "BentonSans";
  font-weight: 500;
  font-size: 28px;
  color: #000000;
  margin: 0 0 44px 0;

  @include for-tablet-landscape-only {
    margin: 0 0 5.27vw 0;
  }

  @include for-tablet-portait-only {
    margin: 0 0 5.27vw 0;
  }

  @include for-phone-only {
    margin: 0 0 5.27vw 0;
  }

  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 18px;
  $max_font: 28px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.modalBodySubheading {
  font-family: "BentonSans";
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin: 0 0 44px 0;
  @include letter-spacing(30);
  line-height: 42px;

  $min_width: 320px;
  $max_width: 1200px;
  $min_font: 14px;
  $max_font: 20px;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);

  @include for-tablet-landscape-only {
    line-height: 35px;
    margin: 0 0 3.05vw 0;
  }

  @include for-tablet-portait-only {
    line-height: 30px;
    margin: 0 0 3.05vw 0;
  }

  @include for-phone-only {
    line-height: 30px;
    margin: 0 0 3.05vw 0;
  }
}

.modalBodyOverview {
  margin: 0 0 76px 0;

  @include for-tablet-landscape-only {
    margin: 0 0 5.27vw 0;
  }

  @include for-tablet-portait-only {
    margin: 0 0 5.27vw 0;
  }

  @include for-phone-only {
    margin: 0 0 5.27vw 0;
  }
}

.modalBodyRole {
  margin: 0 0 143px 0;

  @include for-tablet-landscape-only {
    margin: 0 0 9.9305vw 0;
  }

  @include for-tablet-portait-only {
    margin: 0 0 9.9305vw 0;
  }

  @include for-phone-only {
    margin: 0 0 9.9305vw 0;
  }
}

.modalButtons {
  display: flex;
  justify-content: space-between;

  a {
    font-family: "BentonSans";
    font-weight: 400;
    @include letter-spacing(30);
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    // font-size: 20px;

    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 14px;
    $max_font: 20px;

    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    &:first-child {
      position: relative;
      padding-left: 31px;

      @include for-tablet-landscape-only {
        padding-left: 25px;
      }

      @include for-tablet-portait-only {
        padding-left: 25px;
      }

      @include for-phone-only {
        padding-left: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        background-color: transparent;
        left: 0;

        @include for-tablet-landscape-only {
          padding: 6px;
        }

        @include for-tablet-portait-only {
          padding: 6px;
        }

        @include for-phone-only {
          padding: 5px;
        }
      }
    }

    &:last-child {
      position: relative;
      padding-right: 31px;

      @include for-tablet-landscape-only {
        padding-right: 25px;
      }

      @include for-tablet-portait-only {
        padding-right: 25px;
      }

      @include for-phone-only {
        padding-right: 20px;
      }

      &:after {
        content: "";
        position: absolute;
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        background-color: transparent;
        right: 0;

        @include for-tablet-landscape-only {
          padding: 6px;
        }

        @include for-tablet-portait-only {
          padding: 6px;
        }

        @include for-phone-only {
          padding: 5px;
        }
      }
    }
  }
}

.formError {
  border: 1px solid #D0021A;
}
