@import "../../styles/mixins";

/* variables */
:root {
  --black: #000;
  --white: #fff;
  --color-1: #000;
  --gutter: 2rem;
  /* this value is going to be changed by javascript */
  --replace-offset: 50%;
  --replace-offset-2: calc((100% - var(--replace-offset)) * -1);
}

/* set image position */
img {
  vertical-align: bottom;
}

/* Sticky Footer */
.body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.footer {
  padding: calc(var(--gutter) * 0.5);
  background-color: var(--black);
  color: var(--white);
}

/* without fixed header this makes no sense */
.header {
  position: fixed;
  z-index: 3;
  top: 176px;
  left: 79px;

  @include for-tablet-landscape-only {
    opacity: 0;
    visibility: hidden;
  }

  @include for-tablet-portait-only {
    opacity: 0;
    visibility: hidden;
  }

  @include for-phone-only {
    opacity: 0;
    visibility: hidden;
  }
}

.nav {
  writing-mode: vertical-lr;
  display: flex;
  transform: rotate(180deg);
  height: 491px;
  justify-content: space-between;
  .active {
    color: #2031ca;
    position: relative;
  
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #2031ca;
      border-radius: 50%;
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.nav--invert {
  writing-mode: vertical-lr;
  display: flex;
  transform: rotate(180deg);
  height: 491px;
  justify-content: space-between;
  color: var(--white);
  .active {
    color: #F8784E;
    position: relative;
  
    &:after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #F8784E;
      border-radius: 50%;
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}



.section {
  border: 1px solid;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section--bg {
  // background-color: var(--color-1);
}

/**
    This is the interesting part
  **/

/* align content above each other without absolute */
.js-replace {
  display: grid;
}

.js-replace__item {
  grid-row: -1 / 1;
  grid-column: -1 / 1;
  overflow: hidden;
  padding: 0 10px 0 0;
  will-change: transform;
}

/* item to replace with */
.js-replace__item {
  transform: translateY(calc(var(--replace-offset) * 1));
}
.js-replace__content {
  /* fixes problem with calculating correct height in js */
  border: 1px solid transparent;
  will-change: transform;

  transform: translateY(calc(var(--replace-offset) * -1));
}

/* previous replace item*/
.js-replace__item--active {
  transform: translateY(calc(var(--replace-offset-2) * 1));
}
.js-replace__item--active .js-replace__content {
  transform: translateY(calc(var(--replace-offset-2) * -1));
}

/* REVERSE ANIMATION */
.js-replace--reverse .js-replace__item {
  transform: translateY(calc(var(--replace-offset-2) * 1));
}
.js-replace--reverse .js-replace__content {
  transform: translateY(calc(var(--replace-offset-2) * -1));
}

/* previous replace item*/
.js-replace--reverse .js-replace__item--active {
  transform: translateY(calc(var(--replace-offset) * 1));
}
.js-replace--reverse .js-replace__item--active .js-replace__content {
  transform: translateY(calc(var(--replace-offset) * -1));
}