.nav {
  // position: fixed;
  //TODO: Check if browsers supports this feature
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: 5.49vw;
  max-height: 491px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
